@import "tailwindcss";

@theme {
  --color-primary-50: #e6f1ed;
  --color-primary-100: #b1d3c8;
  --color-primary-200: #8bbead;
  --color-primary-300: #56a188;
  --color-primary-400: #358e71;
  --color-primary-500: #03724d;
  --color-primary-600: #036846;
  --color-primary-700: #025137;
  --color-primary-800: #023f2a;
  --color-primary-900: #013020;

  --color-gray-opa-8: #f7f8f9;
  --color-gray-opa-12: #f1f3f4;
  --color-gray-opa-16: #edef11;
  --color-gray-opa-24: #e5e8eb;
  --color-gray-opa-32: #dbe0e4;
  --color-gray-opa-48: #cbd1d7;
  --color-gray-opa-80: #a7b1bc;
  --color-gray-opa-90: #828f9a;

  --color-blue-opa-8: #def3ff;
  --color-blue-opa-12: #ccecff;
  --color-blue-opa-16: #bdf2ff;
  --color-blue-opa-24: #acecff;
  --color-blue-opa-32: #b8e5ff;
  --color-blue-opa-48: #95d9ff;

  --color-green-opa-8: #f4fcf3;
  --color-green-opa-12: #eaf9e7;
  --color-green-opa-16: #e3f8df;
  --color-green-opa-24: #d5f4d0;
  --color-green-opa-32: #c7f0c0;
  --color-green-opa-48: #abe9a0;

  --color-red-opa-8: #fff1f3;
  --color-red-opa-12: #ffefe7;
  --color-red-opa-16: #ffeded;
  --color-red-opa-24: #ffcece;
  --color-red-opa-32: #ffbebe;
  --color-red-opa-48: #ff9d9d;

  --color-yellow-opa-8: #fff8eb;
  --color-yellow-opa-12: #fff5e0;
  --color-yellow-opa-16: #fff2d6;
  --color-yellow-opa-24: #ffebc2;
  --color-yellow-opa-32: #ffe4ad;
  --color-yellow-opa-48: #ffd785;

  --color-info-50: #e3f2ff;
  --color-info-100: #b6e0ff;
  --color-info-200: #90caf9;
  --color-info-300: #64b5f6;
  --color-info-400: #42a5f5;
  --color-info-500: #2196f3;
  --color-info-600: #1e88e5;
  --color-info-700: #1976d2;
  --color-info-800: #1565c0;
  --color-info-900: #0d47a1;

  --color-success-50: #e8f5e9;
  --color-success-100: #b9f6ca;
  --color-success-200: #a5d6a7;
  --color-success-300: #81c784;
  --color-success-400: #66bb6a;
  --color-success-500: #4caf50;
  --color-success-600: #43a047;
  --color-success-700: #388e3c;
  --color-success-800: #2e7d32;
  --color-success-900: #1b5e20;

  --color-warning-50: #fff8e1;
  --color-warning-100: #ffecb3;
  --color-warning-200: #ffe082;
  --color-warning-300: #ffd54f;
  --color-warning-400: #ffca28;
  --color-warning-500: #ffc107;
  --color-warning-600: #ffb300;
  --color-warning-700: #ffa000;
  --color-warning-800: #ff8f00;
  --color-warning-900: #ff6f00;

  --color-error-50: #ffebee;
  --color-error-100: #ffcdd2;
  --color-error-200: #ef9a9a;
  --color-error-300: #e57373;
  --color-error-400: #ef5350;
  --color-error-500: #f44336;
  --color-error-600: #e53935;
  --color-error-700: #d32f2f;
  --color-error-800: #c62828;
  --color-error-900: #b71c1c;

  --color-background-light-blue: #e1e7f4;
  --color-background-neutral: #f4f6f8;
  --color-background-light-grey: #f9fafb;
  --color-background-white: #fff;

  --color-divider-light-blue-32: #dbe0e4;

  --color-text-primary: #232a34;
  --color-text-secondary: #787f89;
  --color-text-disable: #a7b1bc;
  --color-text-white: #fff;

  --color-action-disable: #a7b1bc;

  --font-sans:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
